.montaga-regular {
    font-family: "Montaga", serif;
    font-weight: 400;
    font-style: normal;
  }

.nav-right ul li {
  display: inline-block; 
  /* error */
}

.nav img {
  width: 250px;
  height: 250px;
}

.navbar-brand img {
  height: 50px; /* Atur sesuai kebutuhan */
  object-fit: contain; /* Menjaga rasio gambar */
}

/* .margin-top {
  margin-top: 100px;
} */
